<nav class="navbar navbar-light bg-faded navbar-toggleable-md ">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/ui-model.png" alt="Logo">
      {{title.getTitle()}}
    </a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto"></div>
      <div class="form-inline">
        <iframe src="https://ghbtns.com/github-btn.html?user=ui-model&type=follow&count=true&size=large" frameborder="0"
                scrolling="0" width="220px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=ui-model&repo=ui-model&type=star&count=true&size=large"
                frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      </div>
    </div>
  </div>
</nav>
