<svg viewBox="0 0 100 100" width="300" height="300" xmlns="http://www.w3.org/2000/svg">
  <g class="chart" *ngFor="let pie of chart.pies; let index = index" [attr.index]="index">
    <path [attr.d]="pie.path" class="serial"
          [style.stroke-width]="gutter"></path>
    <g class="markup" [style.transform]="translateOf(pie)|safeStyle">
      <circle r="5"></circle>
      <text dy="2">{{chart.serials[index]}}</text>
    </g>
  </g>
</svg>
<p>
  <label>
    <span i18n>cx</span>
    <input type="number" [(ngModel)]="chart.cx" step="1">
  </label>
  <label>
    <span i18n>cy</span>
    <input type="number" [(ngModel)]="chart.cy" step="1">
  </label>
</p>
<p>
  <label>
    <span i18n>radius</span>
    <input type="number" [(ngModel)]="chart.radius" step="1">
  </label>
  <label>
    <span i18n>gutter</span>
    <input type="number" [(ngModel)]="gutter" step="0.5">
  </label>
  <label>
    marker offset
    <input type="number" [(ngModel)]="noteOffset" step="5">
  </label>
</p>
