<div [class.no-selectable]="draggable.dragging">
  <div class="playground">
    <div class="draggable"
         uiMeasure #inner="uiMeasure"
         uiDraggable #draggable="uiDraggable" (uiDragStop)="inner.update()"
         [style.left.px]="inner.offsetRect.left + draggable.offset.x"
         [style.top.px]="inner.offsetRect.top + draggable.offset.y"
    >
    </div>
  </div>
  <div class="alert alert-info">
    <div class="row">
      <div class="col-md-6">
        delta ( x: {{draggable.offset.x}}, y: {{draggable.offset.y}} )
      </div>
      <div class="col-md-6">
        pos ( x: {{inner.offsetRect.left}}, y: {{inner.offsetRect.top}} )
      </div>
    </div>
  </div>
</div>
