@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:host {
  display: block;
}

.playground {
  position: relative;
  height: 500px;
  background: $gray-300;
  > * {
    position: absolute;
  }

  .top {
    top: 4px;
  }
  .left {
    left: 4px;
  }
  .bottom {
    bottom: 4px;
  }
  .right {
    right: 4px;
  }
}

.tooltip {
  opacity: 1;
}
