<ng-container *ngFor="let option of options; let odd=odd">
  <div *ngIf="odd" class="form-check form-check-inline">
    <label class="form-check-label">
      <input (change)="select.select(option)" [checked]="select.selected(option)" class="form-check-input"
             type="radio"/>
      {{option.label}}
    </label>
  </div>
  <button (click)="select.select(option)" *ngIf="!odd" [class.btn-primary]="select.selected(option)"
          class="btn">{{option.label}}
  </button>
</ng-container>

<app-json-viewer [value]="select.selection"></app-json-viewer>
