<p>
  Normal Radio Group
</p>
<div class="form-check form-check-inline" *ngFor="let option of options">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" (change)="select.select(option.id)"
           [checked]="select.selected(option.id)"/>
    {{option.label}}
  </label>
</div>

<hr>

<p>
  Radio Group with ngModel
</p>
<ui-radio-group [options]="options" [(ngModel)]="select.selection"></ui-radio-group>

<hr>

<p>
  Radio Group with ngModel(code & value)
</p>
<ui-radio-group [options]="options2" [(ngModel)]="select.selection" valueField="code"></ui-radio-group>

<app-json-viewer [value]="select.selection"></app-json-viewer>
