@import "~bootstrap/scss/variables";

:host {
  display: block;
}

table {
  table-layout: fixed;
  th {
    min-width: 100px;
  }
}

.data-type-currency, .data-type-int, .data-type-float {
  text-align: right;
}

th {
  &.sortable {
    cursor: pointer;
    .fa {
      margin-left: 0.5em;
      &.fa-sort {
        color: darken($gray-lighter, 20%);
      }
    }
  }
}

ui-pagination {
  margin: 0;
}

.resizable {
  position: relative;
  &.test {
    background: $brand-primary;
    overflow: hidden;
    width: 50%;
  }
  > .splitter {
    z-index: 100;
    position: absolute;
    right: -3px;
    top: 0;
    bottom: 0;
    width: 5px;
    background: rgba(black, 0.01);
    cursor: ew-resize;
  }
}
