@import "common";

:host {
  display: block;
}

ui-form-group {
  ::ng-deep {
    .uppercase {
      text-transform: uppercase;
    }

    .ui-model-field-username, .ui-model-field-agreeLicense {
      @include make-col(12);
    }
  }
}
