<form name="form" #form="ngForm" (submit)="submit(form)">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" id="username" name="username"
           #fieldUsername="ngModel" [(ngModel)]="user.username" required minlength="4"/>
    <ui-field-error [field]="fieldUsername"></ui-field-error>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" name="email"
           #fieldEmail="ngModel" [(ngModel)]="user.email" required email/>
    <ui-field-error [field]="fieldEmail"></ui-field-error>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="reset(form)">Reset</button>
  </div>
</form>

<pre class="alert alert-info" *ngIf="report">{{report|json:2}}</pre>
