<form (submit)="submit()">
  <ui-form-group *ngIf="form" [group]="form"></ui-form-group>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <button type="button" class="btn btn-secondary btn-block" (click)="form.disable()" *ngIf="form.enabled">Disable this
      form
    </button>
    <button type="button" class="btn btn-secondary btn-block" (click)="form.enable()" *ngIf="form.disabled">Enable this
      form
    </button>
  </div>
</form>
<app-json-viewer [value]="form.value"></app-json-viewer>
