<p class="tag-list" *ngIf="meta?.authors|isNotEmpty">
  <span i18n>Authors:</span>
  <a class="author" *ngFor="let author of meta.authors" [routerLink]="['/authors', author.id]">{{author.name}}</a>
</p>
<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let extension of extensions">
    <a [routerLink]="[{ext: extension}]" class="nav-link" [class.active]="currentExt === extension">
      {{extension}}
    </a>
  </li>
</ul>
<pre [innerHTML]="source | async | default:'<div class=empty>(Empty)</div>'">
</pre>
