<p class="tag-list" *ngIf="meta?.authors.length>0">
  Authors:
  <a *ngFor="let author of meta.authors" [routerLink]="['/authors', author.id]">{{author.name}}</a>
</p>
<p class="tag-list" *ngIf="meta?.tags.length > 0">
  Tags:
  <label class="tag tag-info" *ngFor="let tag of meta.tags">{{tag.keyword}}</label>
</p>
<div class="alert alert-info" *ngIf="meta?.description" [innerHTML]="meta.description"></div>
<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let extension of extensions">
    <a [routerLink]="[{ext: extension}]" class="nav-link" [class.active]="currentExt === extension">
      {{extension}}
    </a>
  </li>
</ul>
<pre [innerHTML]="source | async | default:'<div class=empty>(Empty)</div>'">
</pre>
