@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:host {
  display: block;
}

.playground {
  display: inline-block;
  background: $gray-300;
  padding: 20px;
}

.active-rect {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  position: relative;
  > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  > .viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background: rgba(green, 0.2);
  }
}

.passive-rect {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 330px;
  height: 330px;
  > img {
    position: absolute;
  }
}
