<div class="row" uiSelect #select="uiSelect" [(ngModel)]="selection">
  <div class="col-md-6">
    <select class="form-control" [(ngModel)]="select.selection">
      <option>-</option>
      <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label class="form-check-inline" *ngFor="let option of options">
      <input class="form-check-input" type="radio" (change)="select.select(option)"
             [checked]="select.selected(option)"/>
      {{option.name}}
    </label>
  </div>
</div>

<p>
  {{selection | json}}
</p>
