<app-nav-header></app-nav-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 text-xs-right">
      <label class="form-control-static" for="filter">
        <span i18n>Search</span>
      </label>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="search" id="filter" class="form-control" [(ngModel)]="filter"
               placeholder="Name / Description/ Author / Document / Tags" i18n-placeholder/>
        <div class="input-group-btn">
          <button type="button" tabindex="-1" class="btn btn-primary" (click)="setFilter('')">X</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="badge-list form-control-static">
        <label class="badge badge-info" *ngFor="let tag of tags" (click)="setFilter(tag)">{{tag}}</label>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <app-nav-menu [filter]="filter"></app-nav-menu>
    </div>
    <div class="col-md-5">
      <router-outlet name="brief"></router-outlet>
      <router-outlet></router-outlet>
      <router-outlet name="doc"></router-outlet>
    </div>
    <div class="col-md-5">
      <router-outlet name="src"></router-outlet>
    </div>
  </div>
</div>

<app-global-modal></app-global-modal>
