<nav class="navbar navbar-light bg-faded navbar-toggleable-md ">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      <img alt="Logo" src="/assets/ui-model.png">
      {{title.getTitle()}}
    </a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto"></div>
      <div class="form-inline">
        <iframe frameborder="0"
                height="30px" scrolling="0"
                src="https://ghbtns.com/github-btn.html?user=ui-model&repo=ui-model&type=star&count=true&size=large"
                width="160px"></iframe>
        <iframe frameborder="0"
                height="30px" scrolling="0"
                src="https://ghbtns.com/github-btn.html?user=ui-model&repo=ui-model&type=fork&count=true&size=large"
                width="160px"></iframe>
      </div>
    </div>
  </div>
</nav>
