<div #playground="uiMeasure" class="playground" uiMeasure>
  <button class="btn btn-primary top left" type="button" uiTooltip>
    <span i18n>No tooltip</span>
  </button>
  <button class="btn btn-primary top right" title="total: {{total}}" type="button" uiTooltip>
    <span i18n>Tooltip from title</span>
  </button>
  <button #btnBL="uiMeasure" class="btn btn-primary bottom left" type="button" uiMeasure
          uiTooltip="width: {{btnBL.boundingRect.width}}">
    <span i18n>Tooltip binding</span>
  </button>
  <button [uiTooltip]="html|safeHtml" class="btn btn-primary bottom right" type="button" uiDisabled>
    <span i18n>HTML on disabled button</span>
  </button>

  <ui-tooltip *ngIf="tooltip.visible">
    <div [innerHTML]="tooltip.message"></div>
  </ui-tooltip>
</div>
