@import "../../shared/styles/common";

:host {
  display: block;
}

.form-check-label {
  margin-right: 1em;
}

.btn-primary {
  background: $gray;
  border-color: transparent;
  &.active {
    background: $brand-primary;
  }
}

.indeterminate {
  background: lighten($brand-primary, 30%);
}
