<div class="card">
  <div class="card-header">
    <label>
      <input type="checkbox" [indeterminate]="select.indeterminate" [(ngModel)]="select.allSelected"/>
      <span i18n>All</span>
    </label>
    <span class="btn btn-primary" [class.active]="select.allSelected" [class.indeterminate]="select.indeterminate"
          (click)="select.allSelected = !select.allSelected" i18n>
        Customized "Checkbox"
      </span>
  </div>
  <div class="card-block">
    <label class="form-check-label" *ngFor="let option of options|slice:0:2">
      <input type="checkbox" class="form-check-input" [ngModel]="select.selected(option)"
             (ngModelChange)="select.selectAs(option, $event)"/>
      {{option.label}}
    </label>
    <div>
      <label class="form-check-label" *ngFor="let option of options|slice:2:4">
        <input type="checkbox" class="form-check-input" [ngModel]="select.selected(option)"
               (ngModelChange)="select.selectAs(option, $event)"/>
        {{option.label}}
      </label>
    </div>
  </div>
</div>
