<div class="card">
  <div class="card-header">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [indeterminate]="select.indeterminate"
               [(ngModel)]="select.allSelected"/>
        <span i18n>All</span>
      </label>
    </div>
    <span class="btn btn-primary" [class.active]="select.allSelected" [class.indeterminate]="select.indeterminate"
          (click)="select.allSelected = !select.allSelected" i18n>
        Customized "Checkbox"
      </span>
  </div>
  <div class="card-body">
    <div class="form-check form-check-inline" *ngFor="let option of options">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [ngModel]="select.selected(option)"
               (ngModelChange)="select.selectAs(option, $event)"/>
        {{option.label}}
      </label>
    </div>
  </div>
</div>

<app-json-viewer [value]="select.selection"></app-json-viewer>
