<ng-container *ngIf="sorter" uiPagination #pager="uiPagination" [recordCount]="items.length">
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th class="resizable" [style.width.px]="size[field.name]?.width + delta[field.name]?.x" #resize="uiResize"
          [(uiResize)]="size[field.name]" *ngFor="let field of fields"
          [class.sortable]="sortable && field.sortable"
          [ngClass]="field.type|typeName:'data-type-'"
          (click)="sorter.toggle(field)">
        {{field.title}}
        <ng-container *ngIf="sortable && field.sortable">
          <img class="icon" src="_images/icon-sort.svg" *ngIf="field.isNonOrder()">
          <img class="icon" src="_images/icon-sort-asc.svg" *ngIf="field.isAscOrder()">
          <img class="icon" src="_images/icon-sort-desc.svg" *ngIf="field.isDescOrder()">
        </ng-container>
        <div class="splitter" uiDraggable (uiDragMove)="delta[field.name] = $event"
             (uiDragStop)="resize.update()"></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items | orderBy:sorter | slice:pager.begin:pager.end">
      <td *ngFor="let field of fields" [ngClass]="field.type|typeName:'data-type-'">
        {{item[field.name]|format:field}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-8">
      <ui-pagination [pager]="pager"></ui-pagination>
    </div>
    <div class="col-md-4">
      <select class="form-control" name="pageSize" [(ngModel)]="pager.size">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
</ng-container>
