<div *ngIf="form" [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username"
           formControlName="username"/>
    <ui-field-error fieldName="username"></ui-field-error>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email"
           formControlName="email"/>
    <ui-field-error fieldName="email"></ui-field-error>
  </div>
  <div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile"
           formControlName="mobile"/>
    <ui-field-error fieldName="mobile"></ui-field-error>
  </div>

  <div class="form-group">
    <label for="homepage">Homepage</label>
    <input type="text" class="form-control" id="homepage" name="homepage"
           formControlName="homepage"/>
    <ui-field-error fieldName="homepage"></ui-field-error>
  </div>

  <div class="form-group" formArrayName="tags" #tags="uiFormArray">
    <label for="tags">Tags</label>
    <div class="form-group" *ngFor="let control of tags.controls">
      <div class="input-group">
        <input type="text" class="form-control" id="tags" name="tags"
               [formControl]="control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" (click)="tags.removeControl(control)">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
      <ui-field-error [field]="control"></ui-field-error>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="tags.createControl()">
        <i class="fa fa-plus-circle"></i>
        Add a new tag
      </button>
    </div>
  </div>

  <ui-panel title="Profile" formGroupName="profile" #profile="uiFormGroup">
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" id="birthday" name="birthday"
             formControlName="birthday"/>
      <ui-field-error fieldName="birthday"></ui-field-error>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <ui-radio-group formControlName="gender" [options]="genders"></ui-radio-group>
      <ui-field-error fieldName="gender"></ui-field-error>
    </div>
    <div class="form-group">
      <label for="height">Height(CM)</label>
      <input type="number" class="form-control" id="height" name="height"
             formControlName="height"/>
      <ui-field-error fieldName="height"></ui-field-error>
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input type="number" class="form-control" id="weight" name="weight"
             formControlName="weight"/>
      <ui-field-error fieldName="weight"></ui-field-error>
    </div>
    <pre class="alert alert-info">{{profile.group.value|json:2}}</pre>
  </ui-panel>
  <ui-field-error fieldName="profile"></ui-field-error>
</div>

<pre class="alert alert-info">{{form.value|json:2}}</pre>
