<div class="form-group">
  <label>
    <input type="checkbox" class="form-check-input" name="disabled" [(ngModel)]="disabled"/>
    Disabled
  </label>
</div>
<div class="form-group">
  <input type="date" [disabled]="disabled" required #dateRef="ngModel" class="form-control" [(ngModel)]="value"/>
  <ui-field-error [field]="dateRef"></ui-field-error>
</div>

<div class="form-group">
  <ui-calendar name="date" [disabled]="disabled" [(ngModel)]="value" #calendarRef="ngModel" required></ui-calendar>
  <ui-field-error [field]="calendarRef"></ui-field-error>
</div>

<div class="form-group dropdown" uiToggle #picker="uiToggle" (uiClickOutside)="picker.close()">
  <div class="input-group">
    <input type="text" [disabled]="disabled" uiDateInput required #inputRef="ngModel" class="form-control" [(ngModel)]="value"/>
    <div class="input-group-append">
      <button type="button" [disabled]="disabled" class="btn btn-primary" (click)="picker.toggle()">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
  <div class="dropdown-menu" *ngIf="picker.isOn">
    <ui-calendar name="date" [disabled]="disabled" [(ngModel)]="value" #calendarRef="ngModel" required
                 (change)="picker.close()"></ui-calendar>
  </div>
  <ui-field-error [field]="inputRef"></ui-field-error>
</div>

<div class="form-group">
  <ui-date-picker  [disabled]="disabled" [(ngModel)]="value" #pickerRef="ngModel"></ui-date-picker>
  <ui-field-error [field]="pickerRef"></ui-field-error>
</div>

<div class="alert alert-info" *ngIf="value">
  <div *ngIf="value|isValidDate">
    {{value.toISOString()}}
  </div>
  <div *ngIf="value|isInvalidDate">
    Invalid Date
  </div>
</div>
