<table>
  <caption>
    <div>
      <a href="javascript:void(0)" (click)="calendar.prevMonth()" title="Previous Month">
        <img class="icon" src="_images/icon-prev.svg"/>
      </a>
      <select class="form-control" name="month" [(ngModel)]="calendar.month">
        <option *ngFor="let month of calendar.months;let index = index" [ngValue]="index">{{month}}</option>
      </select>
      <select class="form-control" name="year" [(ngModel)]="calendar.year">
        <option *ngFor="let year of calendar.years" [ngValue]="year">{{year}}</option>
      </select>
      <a href="javascript:void(0)" (click)="calendar.goToToday()" title="Today">
        <img class="icon" src="_images/icon-today.svg"/>
      </a>
      <a href="javascript:void(0)" (click)="calendar.nextMonth()" title="Next Month">
        <img class="icon" src="_images/icon-next.svg"/>
      </a>
    </div>
  </caption>
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let name of calendar.weekdays">{{name}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let week of calendar.weeks">
    <td class="week">
      {{week}}
    </td>
    <td *ngFor="let day of calendar.dates(week)"
        [class.active]="calendar.isActive(day)"
        [class.today]="calendar.isToday(day)"
        [class.other-month]="!calendar.inSameMonth(day)"
        [class.weekend]="calendar.isWeekEnd(day)"
        (click)="calendar.goTo(day)"
    >
      {{day.getDate()}}
    </td>
  </tr>
  </tbody>
</table>

<p class="alert alert-info">
  {{calendar.value|date:'shortDate'}}
</p>
