@import "../../shared/styles/common";
:host {
  display: block;
}

.modal {
  display: block;
}

.modal-backdrop {
  opacity: 0.5;
}

.demo-dropdown {
  /deep/ .card-block {
    height: 13em;
  }
  .dropdown {
    display: inline-block;
  }
}

.custom-button {
  display: inline-block;
  border: 1px solid $brand-primary;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 2px;
}
