<app-panel title="Basic: Switch icons and text" uiToggle #toggle="uiToggle">
  <span class="btn btn-primary" (click)="toggle.turnOff()" *ngIf="toggle.isOn">
    <i class="fa fa-toggle-isOn"></i>
    On
  </span>

  <span class="btn btn-outline-primary" (click)="toggle.turnOn()" *ngIf="toggle.isOff">
    <i class="fa fa-toggle-isOff"></i>
    Off
  </span>
</app-panel>

<app-panel title="Of course, Dropdown is also a very obvious Toggle" class="demo-dropdown">
  <div class="dropdown open" uiToggle #dropdown="uiToggle" (uiClickOutside)="dropdown.close()">
    <button class="btn btn-secondary dropdown-toggle" type="button" (click)="dropdown.toggle()">
      Dropdown button
    </button>
    <div class="dropdown-menu" *ngIf="dropdown.isOn">
      <a class="dropdown-item">Action</a>
      <a class="dropdown-item">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item">Something else here</a>
    </div>
  </div>
</app-panel>

<app-panel title="We can also access the toggle object inside this panel" #panel>
  <button type="button" class="btn btn-primary" (click)="panel.toggle.turnOff()">
    Close this panel
  </button>
</app-panel>

<app-panel title="The main logic of the modal dialog box is also toggle" uiToggle #modal="uiToggle">
  <button type="button" class="btn btn-primary" (click)="modal.open()">
    Open Modal Dialog
  </button>
  <div class="modal-backdrop" *ngIf="modal.isOn"></div>
  <div class="modal" *ngIf="modal.isOn">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</app-panel>

<app-panel title="The various form of expand / collapse logic is also toggle" uiToggle #more="uiToggle">
  This is a brief
  <div class="btn btn-link" (click)="more.open()" *ngIf="more.isOff">Click me to see more...</div>
  <div *ngIf="more.isOn">
    this are detail with many many lines

    <div class="btn btn-link" (click)="more.close()">Click me to see brief only</div>
  </div>
</app-panel>

<app-panel title="Two-class switching is also a kind of Toggle logic" uiToggle #btn="uiToggle">
  <span class="btn" [class.btn-primary]="btn.isOn" (click)="btn.toggle()">
    isOn? {{btn.isOn}}
  </span>
</app-panel>

<app-panel title="Two-picture switching is also a kind of Toggle logic" uiToggle #img="uiToggle">
  <img src="/assets/images/dog.jpg" alt="dog" *ngIf="img.isOff" (click)="img.turnOn()"/>
  <img src="/assets/images/cat.jpg" alt="cat" *ngIf="img.isOn" (click)="img.turnOff()"/>
</app-panel>
