<ng-container uiPagination #pager="uiPagination" [recordCount]="items.length">
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th class="resizable" [style.width.px]="size[field.name]?.width + delta[field.name]?.x" #resize="uiResize"
          [(uiResize)]="size[field.name]" *ngFor="let field of fields"
          [class.sortable]="field.sortable"
          [ngClass]="field.type|typeName:'data-type-'"
          (click)="sorter.toggle(field)">
        {{field.title}}
        <ng-container *ngIf="field.sortable">
          <i class="fa fa-sort" *ngIf="field.isNonOrder()"></i>
          <i class="fa fa-sort-asc" *ngIf="field.isAscOrder()"></i>
          <i class="fa fa-sort-desc" *ngIf="field.isDescOrder()"></i>
        </ng-container>
        <div class="splitter" uiDraggable (uiDragMove)="delta[field.name] = $event"
             (uiDragStop)="resize.update()"></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items | orderBy:sorter | slice:pager.begin:pager.end">
      <td *ngFor="let field of fields" [ngClass]="field.type|typeName:'data-type-'">
        {{item[field.name]|format:field}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-8">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="!pager.hasPrev">
          <a href="javascript:void(0)" (click)="pager.prev()" class="page-link">
            Prev
          </a>
        </li>
        <li class="page-item" *ngIf="pager.hasFirst">
          <a href="javascript:void(0)" (click)="pager.goTo(pager.indexMin)" class="page-link">
            {{pager.indexMin + 1}}
          </a>
        </li>
        <li class="page-item disabled" *ngIf="pager.hasPrevMore">
        <span class="page-link">
          ...
        </span>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [class.active]="pager.isActive(page)">
          <a class="page-link" href="javascript:void(0)" (click)="pager.goTo(page)">{{page + 1}}</a>
        </li>
        <li class="page-item disabled" *ngIf="pager.hasNextMore">
        <span class="page-link">
          ...
        </span>
        </li>
        <li class="page-item" *ngIf="pager.hasLast">
          <a href="javascript:void(0)" (click)="pager.goTo(pager.indexMax)" class="page-link">
            {{pager.indexMax + 1}}
          </a>
        </li>
        <li class="page-item" [class.disabled]="!pager.hasNext">
          <a href="javascript:void(0)" (click)="pager.next()" class="page-link">
            Next
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <select class="form-control" name="pageSize" [(ngModel)]="pager.size">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="!pager.hasPrev">
          <a href="javascript:void(0)" (click)="pager.prev()" class="page-link">
            Prev
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [class.active]="pager.isActive(page)">
          <a class="page-link" href="javascript:void(0)" (click)="pager.goTo(page)">{{page + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="!pager.hasNext">
          <a href="javascript:void(0)" (click)="pager.next()" class="page-link">
            Next
          </a>
        </li>
        <li class="page-item disabled">
        <span class="page-link">
          共{{pager.recordCount}}条/{{pager.count}}页
        </span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <select class="form-control" name="pageSize" [(ngModel)]="pager.size">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
</ng-container>
