@import "~bootstrap/scss/variables";

.form-check-label {
  margin-right: 1em;
}

.demo-checkbox {
  .btn-primary {
    background: $gray-dark;
    border-color: transparent;
    &.active {
      background: $brand-primary;
    }
  }
  .indeterminate {
    background: lighten($brand-primary, 30%);
  }
}
