<ui-panel title="Multiple selection states can be linked, and indeterminate state is supported">
  <div class="card">
    <div class="card-header">
      <label>
        <input type="checkbox" [indeterminate]="select.indeterminate" [(ngModel)]="select.allSelected"/>
        All
      </label>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let option of options">
        <label>
          <input type="checkbox" [ngModel]="select.selected(option)"
                 (ngModelChange)="select.selectAs(option, $event)"/>
          <span [innerHTML]="option.label"></span>
        </label>
      </li>
    </ul>
  </div>
</ui-panel>

<ui-panel title="You can layout them free, without being limited by the HTML structure" class="demo-checkbox">
  <div class="card">
    <div class="card-header">
      <label>
        <input type="checkbox" [indeterminate]="select.indeterminate" [(ngModel)]="select.allSelected"/>
        All
      </label>
      <span class="btn btn-primary" [class.active]="select.allSelected" [class.indeterminate]="select.indeterminate"
            (click)="select.allSelected = !select.allSelected">
        Customized "Checkbox"
      </span>
    </div>
    <div class="card-block">
      <label class="form-check-label" *ngFor="let option of options|slice:0:2">
        <input type="checkbox" class="form-check-input" [ngModel]="select.selected(option)"
               (ngModelChange)="select.selectAs(option, $event)"/>
        {{option.label}}
      </label>
      <div>
        <label class="form-check-label" *ngFor="let option of options|slice:2:4">
          <input type="checkbox" class="form-check-input" [ngModel]="select.selected(option)"
                 (ngModelChange)="select.selectAs(option, $event)"/>
          {{option.label}}
        </label>
      </div>
    </div>
  </div>
</ui-panel>

<ui-panel title="uiMultiSelect directive & NgModel" [uiMultiSelect]="options" [uiMultiSelectTransformer]="getCode"
          [(ngModel)]="selection" #checker="uiMultiSelect">
  <div class="card">
    <div class="card-header">
      <label>
        <input type="checkbox" [indeterminate]="checker.indeterminate" [(ngModel)]="checker.allSelected"/>
        All
      </label>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let option of checker.options">
        <label>
          <input type="checkbox" [ngModel]="checker.selected(option)"
                 (ngModelChange)="checker.selectAs(option, $event)"/>
          <span [innerHTML]="option.label"></span>
        </label>
      </li>
    </ul>
  </div>
  {{selection|json}}
</ui-panel>
