<div class="card">
  <div class="card-header">
    <label>
      <input [(ngModel)]="select.allSelected" [indeterminate]="select.indeterminate" type="checkbox"/>
      <span i18n>All</span>
    </label>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let option of options" class="list-group-item">
      <label>
        <input (ngModelChange)="select.selectAs(option, $event)" [ngModel]="select.selected(option)"
               type="checkbox"/>
        <span [innerHTML]="option.label"></span>
      </label>
    </li>
  </ul>
</div>

<app-json-viewer [value]="select.selection"></app-json-viewer>
